.frame {
    width: 800px;
    height: 500px;
    border: black;
    border-style: solid;
    border-width: 5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.siderbarui {
    display: flex;
    flex-direction: column-reverse;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.receipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.receipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 210px; 
    height: 70px;
    border: black;
    border-style: solid;
    border-width: 2px;
    margin: 10px;


}



.plates {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.ingredients {
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

button {
    display: inline-block;
    width: 100px; 
    height: 50px; 
}

img {
    display: block;
}

.plate {
    width: 100px;
    height: 100px;
    border: black;
    border-style: solid;
    border-width: 2px
}


.dishRect {
    margin-top: 5px;
    margin-right: 10px;
    width: 200px; 
    height: 100px; 
    border: black;
    border-style: solid;
    border-width: 2px;
}
.smaller {
    width: 50px;
    height: 50px;
}

.ingredientimage {
    width: 35px;
    height: 35px;
}

#mainImg {
    width: 70px;
    height: 70px;
}