
.frame {
    width: 1040px;
    height: 650px;
    border: black;
    border-style: solid;
    border-width: 5px;
    background-image: url('https://i.ibb.co/xmnfxFf/assorted-citrus-fruits-and-vegetables-952476.jpg');
    background-size: 1040px 650px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
/*Sidebar ui */

.siderbarui {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 4px;
    justify-content: center;
}

/* instructions modal */
#gameover-modal, #instructions-modal{
    background-color: rgba(0,0,0,0.4);
    display: none; 
	position: fixed;
	top: 0;
	left: 0;
	height: 80%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  }


#instructions-textbox {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(images/background.png);
	height: 600px;
	width: 800px;
	border-radius: 2px;
	margin: 100px 100px;
    box-shadow: 0 2px 2px rgba(245, 245, 245, 0.2);
}

/*Flexbox surround timer */
.timerbox {
    display: flex;
    flex-direction: column;
    width: 100px;
	height: 30 px;
	background: #FFFFFF;
	/* -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
	-moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5); */
    border-color: black;
    border-radius: 2px;
}

#timer {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

#seconds {
    background: #FF5722;
    color: #FFFFFF;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#score {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* main game body */

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 900px;
}

button {
    display: inline-block;
    width: 100px; 
    height: 50px; 
    cursor: pointer;
}

/* receipe */

.receipe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* receipe */

.receipes {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    width: 330px; 
    height: 80px;
    border: black;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    background-color: white;
}

/* receipe */

.ingredientimage {
    width: 50px;
    height: 50px;
}

#mainImg {
    width: 80px;
    height: 80px;
}

/* game element. receipe1/receip2/receip3 will start to flash when it is going to expire*/
.blink {
    animation: blink 1s linear infinite; 
}
@keyframes blink {
    from {background-color: white;}
    to {background-color: red;}
    {animation-direction: alternate-reverse}
}


.plates {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

#plates1, #plates2, #plates3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: inherit;
    position:relative;
}
/* image is resize when it drops on to the div drop zone */
.plate > .draggable > img {
    width: 90px;
    height: 90px;
    position: relative;
    z-index: 3;
}

.ingredients {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    width: 500px;
    height: 100px;
    border: black;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    align-self: center;
    margin-top: 20px;
}

/* redo button */
.redobutton {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 10px;
}

#redo1,#redo2,#redo3 {
    width: 75px;
    height: 50px;
}

/*gameover modal */
#gameovertextbox {
    background-image: url(images/background.png);
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 100px 100px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}



#gameovertext {
    text-align: center;
    margin-top: 170px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#trivia {
    font-size: larger;
}

.shapeborder {
    border:1px solid black
}

/* draw plate */
.circle {
    border-radius: 50%
}

.outer {
    background-color: #dfeb6b;
    width:220px;
    height:220px;
    position:relative;
    } 

.inner {
    background-color:white;
    top: 5%; 
    left:5%;
    width:90%;
    height:90%;
    position: relative;
    }

.eachIngredient {

    cursor: pointer;
}

.list {
    color: black;
    font-size: larger;
}


/* high score */
ul li:nth-child(1){
    list-style-image:url('images/1mario.png');
    }
    ul li:nth-child(2){
    list-style-image:url('images/2pikachu.png');
    }
    ul li:nth-child(3){
    list-style-image:url('images/3mushroom.png');
    }
    ul li:nth-child(4){
    list-style-image:url('images/4angry\ birds.png');
    }
    ul li:nth-child(5){
    list-style-image:url('images/5worms.png');
    }

ul  {
        font-size: large;
        padding: 0px;

    }

li {
    margin-top: 10px;
    margin-left: 100px;
    left: -100px;
    font-size: medium;
    padding: 0px
}

#tryagain {
    position:absolute;;
}

#tryagainScore {
    margin-top: 50px;
}

/* highscore-modal*/

#highScore-modal {
    background-color: rgba(0,0,0,0.4);
    display: none; 
	position: fixed;
	top: 0;
	left: 0;
	height: 80%;
	width: 100%;
	z-index: 2;
	overflow: auto;
  }

#highScore-textbox {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(images/background.png);
	height: 420px;
	width: 800px;
	border-radius: 2px;
	margin: 100px 100px;
    box-shadow: 0 2px 2px rgba(245, 245, 245, 0.2);
}